//颜色定义规范
$background-color-theme: #fff;//背景主题颜色默认
$background-color-theme1: #333;//背景主题颜色1


$font-color-theme:#333;
$font-color-theme1:#ccc;


$search_content_bg_color:#ccc;
$search_content_bg_color1:#777;


$icon-color-theme:#333;
$icon-color-theme1:#333;
